<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Links Page</title>
</head>

<body>
    <h1>Links</h1>
    <ul>
        <li><a th:href="@{/getpolicy}"> view policies</a></li>
        <li><a th:href="@{/insertPolicyForm}">Create New Policy</a></li>
        <li><a th:href="@{/getpolicySchedule}">view Schedule</a></li>
        <li><a th:href="@{/updatepolicy}">Policy Approval</a></li>
        <li><a th:href="@{/StatusPaymentById}">Tracking</a></li>
    </ul>
</body>

</html>
